*
#==============================================================#
#															#
# ⚙️   W H I T E L I S T								#
#															#
#==============================================================#

!.gitignore
!.github

#==============================================================#
#															#
# 🔨   B U I L D										#
#															#
#==============================================================#

!Makefile
!*.mk
!LICENSE
!configure
!*.sh

#==============================================================#
#															#
# 📝   F I L E S										#
#															 #
#==============================================================#

!*.c
!*.h
!*.md

#==============================================================#
#															#
# 📁   F O L D E R S									#
#															#
#==============================================================#

!*/